<div class="container">
    <div class="row">
        <div class="col-md-3 sidebar">
            <nav class="sidebar-nav">
                <div class="sidebar-header">
    <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
    <span class="sr-only">Toggle nav</span></button>
    <a class="sidebar-brand img-responsive" href="/admin"><span class="icon icon-leaf sidebar-brand-icon"></span></a>
                </div>

                <div class="collapse nav-toggleable-md" id="nav-toggleable-md">

                       <!-- Search for products -->
                    <form class="sidebar-form">
                        <input class="form-control" type="text" placeholder="Search...">
                        <button type="submit" class="btn-link"><span class="icon icon-magnifying-glass"></span></button>
                    </form>

                        <!-- Side Nav Bar Top -->
                    <ul class="nav nav-pills nav-stacked flex-column">
                        <li class="nav-header">Main Data Tables</li>
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin Overview</a></li>

                        <li class="nav-item">
                            <div class="dropdown" id="customers">
                                <button class="dropbtn">Customers</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addcustomer">Add Customers</a>
                                    <a class="nav-link" href="/updatecustomer">Update Customers</a>
                                    <a class="nav-link" href="/viewcustomer">View Customers</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="products">
                                <button class="dropbtn">Products</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addproduct">Add Products</a>
                                    <a class="nav-link" href="/updateproduct">Update Products</a>
                                    <a class="nav-link" href="/viewproduct">View Products</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="product_types">
                                <button class="dropbtn">Product Types</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addproducttype">Add Product Types</a>
                                    <a class="nav-link" href="/updateproducttype">Update Product Types</a>
                                    <a class="nav-link" href="/viewproducttype">View Product Types</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="scent_types">
                            <button class="dropbtn">Scent Types</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addscenttype">Add Scent Types</a>
                                    <a class="nav-link" href="/updatescenttype">Update Scent Types</a>
                                    <a class="nav-link" href="/viewscenttype">View Scent Types</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="suppliers">
                            <button class="dropbtn">Suppliers</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addsupplier">Add Suppliers</a>
                                    <a class="nav-link" href="/updatesupplier">Update Suppliers</a>
                                    <a class="nav-link" href="/viewsuppliers">View Suppliers</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
        <!-- Top page Bar -->
        <div class="col-md-9 content">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h6 class="dashhead-subtitle">Richwood Scent-ific</h6>
                    <h2 class="dashhead-title">Add a Customer</h2>
                </div>
            </div>

            <!-- Body Box -->
            <hr class="mt-5">
                
            <form action="http://localhost:3000/api/customers" method="POST" id="form">
                

        <div class="form-group">
                    <label for="inputEmailAddress">Email Address</label>
                    <input type="email" class="form-control" id="inputEmailAddress" name="email" placeholder="Enter Email Address">
               </div>
                
       <!-- <div class="form-group">
                    <label for="inputpassword">Password</label>
                    <input type="text" class="form-control" id="inputpassword" name="password" placeholder="Enter Password">
                </div>
                
        <div class="form-group">
                    <label for="inputpasswordverify">Password</label>
                    <input type="text" class="form-control" id="inputpasswordverify" name="passwordveryify" placeholder="Verify Password">
                </div> --> 
                     
        <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="Enter first name">
                </div>

        <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Enter last name">
                </div>
                
        <div class="form-group">
                    <label for="inputPhoneNumber">Phone Number</label>
                    <input class="form-control" type="text" id="inputPhoneNumber" name="phone" placeholder="Enter Phone Number">
                </div>
                     
        <div class="form-group">
                    <label for="inputShippingAddress">Address</label>
                    <input class="form-control" type="text" id="inputShippingAddress" name="address" placeholder="Enter Shipping Address">
                </div>
                    
        <div class="form-group">
                    <label for="inputShippingCity">City</label>
                     <input class="form-control" type="text" id="inputShippingCity" name="city" placeholder="Enter City">
                 </div>
                
        <div class="form-group">
                     <label for="inputShippingState">State</label>
                     <input class="form-control" type="text" id="inputShippingState" name="state" placeholder="Enter State">
                    </div>
                
        <div class="form-group">
                    <label for="inputShippingZip">Zip Code</label>
                    <input class="form-control" type="text" id="inputShippingZip" name="zipcode" placeholder="Enter Zip Code">
                    </div>
                
                <button type="submit" name="submitButton" value="save" class="btn btn-primary">add customer</button>
            </form>

            <hr class="mt-5">
            <!-- Body Box -->
        </div>
    </div>
</div>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/sweetalert.min.js"></script> 
  <script src="../assets/js/tether.min.js"></script>
  <script src="../assets/js/chart.js"></script>
  <script src="../assets/js/tablesorter.min.js"></script>
  <script src="../assets/js/toolkit.js"></script>
  <script src="../assets/js/application.js"></script>
  <script src="../assets/js/typeahead.bundle.js"></script>
  <script type="text/javascript">

    $( document ).ready(function() {
        // Process the form
        $('form').submit(function(event) {

            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();

            // get the form data
            // there are many ways to get this data using jQuery (you can use the class or id also)
            var formData = {
                'email_address'      : $('input[name=email_address]').val(),
                //'password'         : $('input[name=password]').val(),
                'first_name'         : $('input[name=first_name]').val(),
                'last_name'          : $('input[name=last_name]').val(),
                'phone'              : $('input[name=phone]').val(),
                'address'            : $('input[name=address]').val(),
                'city'               : $('input[name=city]').val(),
                'state'              : $('input[name=state]').val(),
                'zipcode'            : $('input[name=zipcode]').val(),
                //'admin'              : $('checkbox[name=admin]').val(),
            };

            // process the form
            $.ajax({
                type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url         : 'http://localhost:3000/api/customers', // the url where we want to POST
                data        : formData, // our data object
                dataType    : 'json', // what type of data do we expect back from the server
                encode      : true
            })
                // using the done promise callback
                .done(function(data) {
                    // Success, so clear
                    $('#form').trigger("reset");
                    // Show success alert
                    swal("Success!", data.data.customer + " was added.", "success");
                })
                .fail(function(data){
                    // In a fail, we need to look inside the responseJSON object for our
                    // APIs error message
                    swal("Oops...", data.responseJSON.data.error, "error");
                });
                
        });

    });