<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

<div class="container">
    <div class="row">

      <div class="col-md-3 sidebar">
        <nav class="sidebar-nav">

          <div class="sidebar-header">

           <a class="sidebar-brand img-responsive" href="/admin">
              <span class="icon icon-leaf sidebar-brand-icon"></span>
            </a>
          </div> <!-- End class "sidebar header" -->

          <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
           
            <!-- Side Nav Bar Top -->
              
            <ul class="nav nav-pills nav-stacked flex-column">
              <li class="nav-header"><h5 style="text-decoration: underline;">Pages</h5></li>
                    <li class="nav-item"><a class="nav-link " href="shop">Shop Products</a></li>
                    <li class="nav-item"><a class="nav-link active"href="cart">View Cart</a></li>
                    <li class="nav-item"><a class="nav-link "href="checkout">Checkout</a></li>
                    <li class="nav-item"><a class="nav-link "href="/">Home Page</a></li>
                    <li class="nav-item"><a class="nav-link "href="login">Login</a></li>
                    <li class="nav-item"><a class="nav-link "href="signup">Signup</a></li>
            </ul>

          </div> <!-- End class "collapse nav-toggleable-md" -->

        </nav>
          
      </div> <!-- End class "col-md-3 sidebar" -->

        <!-- Top page Bar -->
        <div class="col-md-9 content">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h6 class="dashhead-subtitle">Richwood-Scentific</h6>
                    <h2 class="dashhead-title">Cart</h2>
                </div>
            </div> <!-- End class "dashhead" -->

        </div> <!-- End class "col-md-9 content" -->
        
      </div> <!-- End class "row" -->
    
    </div> <!-- End class "container" -->

            <!-- Body Box -->
            <div class="col-md-9 content">
                <table id="data_table" class="table table-striped table-bordered" cellspacing="0">
                    <!-- Inject HTML here -->
                </table>
            </div>

<button type="submit" name="submitButton" value="save" class="btn btn-primary">Confirm Shipping</button>


            <!-- Body Box -->
<script src="../assets/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap.min.js"></script>
<script src="../assets/web/js/js.cookie.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../assets/js/sweetalert.min.js"></script>
<script type="text/javascript">
    
    // "DT_RowId" will be used for row id
    $(document).ready(function() {
        
         var id_customer = Cookies.get('richwood-scentific');
        console.log('COOKIE=' + id_customer )
        
        $.ajax({
        
            url: 'http://localhost:3000/api/cart/' + id_customer,
            data: "json",                    
            type: "GET",
            data: { },
         
            success: function (result) {
    
                // vars for DataTable
                var columns = [];
                // We iterate through the array of records we get back from the database API call
                // If you drill down in the console, you will find the array at result.data.products
                // First, we build the columns array dynamically by examining the first record in the returned set.
                //console.log(result.data);
                if(result.data.items.length > 0) {
                    var firstRecord = result.data.items[0];
                  
                    for(var key in firstRecord) {
                      // We don't want id visible
                      if(key == 'id' || key == 'date_created' || key == 'id_customer' || key == 'date_updated') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        // Push in the data
                        columns.push( { "title" : key, "data" : key } );
                      } // End else
                    }; // End for loop
                console.log(result.data.items);
                // Push in our buttons as a final column
                columns.push( {"defaultContent": "<button class='btn btn-default'><i class='fa fa-arrow-up'></i></button>"} )
                columns.push( {"defaultContent": "<button class='btn btn-delete'><i class='fa fa-trash'></i></button>"} )
                // Draw the table
                var table = $('#data_table').DataTable( {
                    "data" : result.data.items,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                });  // End var table
                  
        $('#data_table tbody').on('click', 'button', function (e) {
            
            // Create Modal popup here.
            //
            //
            var data = table.row( $(this).parents('tr') ).data();
            
            e.preventDefault();
            
            var modalData = {'id'       : data.id, 
                            'quantity' : data.quantity 
                           // add modal for quantityUpdate val and pass that into formData
                           }
            
                $('.btn-default').on('click', function () {
                    
                       $.ajax({
                            type        : 'PUT', // define the type of HTTP verb we want to use (PUT item to our cart)
                            url         : 'http://localhost:3000/api/cart/:' + data.id, // the url where we want to PUT
                            data        : modalData, // our data object
                            success     : function (result) {
                                alert('Your cart has been updated');
                                console.log('Your cart has been updated');
                                //Make event handler for quantity row click, pass new quantity into the data object
                            }, 
                            error       : function (jqXHR, textStatus, errorThrown) {
                                
                                console.log(jqXHR.responseText || textStatus);   
                                
                            }
                           
                        }) // End AJAX PUT call
                    
                    }) // End btn-default.click
            
                $('.btn-delete').on('click', function () {
                        
                        $.ajax({
                            url         : 'http://localhost:3000/api/cart/:'+ data.id, //the url where we want to DELETE
                            //cdd377b1-ea77-4145-9c66-5e833b5e7327' hardcoded id for test
                            type        : 'DELETE', // define the type of HTTP verb we want to use (DELETE item to our cart)
                            data        : {},
                            contentType: 'application/json',
                            success     : function (result, jqXHR, textStatus, errorThrown) {
                                alert("Your item was successfully deleted!");
                                console.log('Your item has been deleted');
                                //window.location.reload(true);
                            }, 
                            error       : function (result, jqXHR, textStatus, errorThrown) {
                                console.log(jqXHR.responseText || textStatus);
                            } 

                        }); // END AJAX DELETE call
                
                    }) // END btn-delete
                                
                }); // End data_table.on( 'click')    
  
            }; // End if(result.data.items.length > 0)
                
        } // End AJAX GET success
            
    }); // End AJAX GET call
        
}); //End document.ready 
</script>

<!--<script>
    $('#data_table tbody').on('click', 'button', function() {
                
        var data = table.row( $(this).parents('tr') ).data();
        console.log( table.row( $(this).parents('tr') ).data().id );
        
            $('.btn-default').on('click', 'button', function () {

                var cartData = {
                    'id'          : data.id,        //the items id in the cart table
                    'quantity'    : data.quantity,  //the items quantity in the cart table   
                }; 
                    console.log(data.quantity + " + " + data.id + " + " + id_customer); 

                   $.ajax({
                        type                : 'PUT', // define the type of HTTP verb we want to use (PUT item to our cart)
                        url                 : 'http://localhost:3000/api/cart' + data.id, // the url where we want to PUT
                        data                : cartData,  //the items quantity in the cart table // our data object
                        headers             : {/* Insert HTTP headers here */},
                        dataType            : 'JSON', // what type of data do we expect back from the server
                        success             : function (result) {

                            alert('Your cart has been updated');
                            console.log('Your cart has been updated');
                            //window.location.reload(true);

                        }, // End AJAX PUT success

                        error               : function (jqXHR, textStatus, errorThrown) {

                            //alert('Your cart has not been updated')
                            console.log(jqXHR.responseText || textStatus);  

                        } // End AJAX PUT error

                    }) // End AJAX PUT call

                }) // End btn-default.click
        
        $('.btn-delete').on('click', 'button', function() {
        
        console.log(data.id);
        
        $.ajax({
            data        : {},
            url         : 'http://localhost:3000/api/cart/:' + data.id, //the url where we want to DELETE
            type        : 'DELETE', // define the type of HTTP verb we want to use (DELETE item to our cart)

            success     : function (result) {

                alert('Your item has been deleted');
                console.log('Your item has been deleted');
                //window.location.reload(true);

            }, // End DELETE Success

            error       : function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText || textStatus)
                console.log('what the deleting fuck');    

            } // End AJAX DELETE error

        }); // End AJAX DELETE call

     }); // End btn-delete

}); // End data_table.on( 'click')
</script>-->
<script>
$('.btn-primary').on('click', function () {
    window.location.href = "/checkout";

}) // END btn-delete
</script>