<div class="container">
    <div class="row">


        <!-- Top page Bar -->
        <div class="col-md-9 content">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h4 class="dashhead-subtitle">Richwood Scent-ific</h4>
                    <h2 class="dashhead-title">Select Shipping & costs</h2>
                </div>
            </div>

            <!-- Body Box -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">In Store Pickup</a></li>
                    <li><a data-toggle="tab" href="#USPS">USPS</a></li>
                    <li><a data-toggle="tab" href="#FedEx">FedEx</a></li>
                    <li><a data-toggle="tab" href="#UPS">UPS</a></li>
                  </ul>

                  <div class="tab-content">
                      
                    <div id="home" class="tab-pane fade in active">
                      <h3>In Store Pickup</h3>
                      <p>In Store pickup is free to all purchasers. Our winter store hours are:</p>
                        <table>
                            <tr><th>Sunday</th><td>Closed</td></tr>
                            <tr><th>Monday</th><td>9am - 5pm</td></tr>
                            <tr><th>Tuesday</th><td>9am - 5pm</td></tr>
                            <tr><th>Wednesday</th><td>9am - 5pm</td></tr>
                            <tr><th>Thursday</th><td>9am - 5pm</td></tr>
                            <tr><th>Friday</th><td>9am - 5pm</td></tr>
                            <tr><th>Saturday</th><td>9am - 12pm</td></tr>
                        </table>
                    </div>
                      
                    <div id="USPS" class="tab-pane fade">
                      <h3>United States Postal Service</h3>
                      <p>USPS table goes here</p>
                        <div class="col-md-9 content">
                        <table id="usps_data_table" class="table table-striped table-bordered" cellspacing="0">
                            <!-- Inject HTML here -->
                        </table>
                        </div>
                    </div>
                      
                    <div id="FedEx" class="tab-pane fade">
                      <h3>Federal Express</h3>
                      <p>FedEx table goes here</p>
                        <div class="col-md-9 content">
                        <table id="fedex_data_table" class="table table-striped table-bordered" cellspacing="0">
                            <!-- Inject HTML here -->
                        </table>
                        </div>
                    </div>
                      
                    <div id="UPS" class="tab-pane fade">
                      <h3>United Parcel Service</h3>
                      <p>UPS table goes here</p>
                        <div class="col-md-9 content">
                        <table id="ups_data_table" class="table table-striped table-bordered" cellspacing="0">
                            <!-- Inject HTML here -->
                        </table>
                        </div>
                    </div>
                      
                  </div>
               
            <!-- Body Box -->
    </div>
</div>

    <!-- Scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap.min.js"></script>
    <script src="../assets/web/js/app.js" charset="utf-8"></script>
    <script src="../assets/web/js/js.cookie.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script type="text/javascript">
$( document ).ready(function() {
        
        var id_customer = Cookies.get('richwood-scentific');
        //var shippingAddress = "";
        //console.log('COOKIE=' + id_customer )
        
        $.ajax({
        
            url: 'http://localhost:3000/api/cart/' + id_customer,
            data: "json",                    
            type: "GET",
            data: {},
            success: function (result) {
                console.log(result.data); // Works correctly, pulls in correct data.
                
        }, // End AJAX Cart GET success
            
            error : function (jqXHR, textStatus, errorThrown) {         
                    console.log(jqXHR.responseText || textStatus);       
        } // End AJAX Cart GET error
            
    }); // End AJAX Cart GET call
    
       /* $.ajax({
        
            url: 'http://localhost:3000/api/customer/' + id_customer,
            data: "json",                    
            type: "GET",
            data: {},
            success: function (result) {
                console.log(result.data.customer[0]); // Data Object returns successfully but incomplete. data.address returns undefined.
                
        },  // End AJAX Customer GET success
            
            error : function (jqXHR, textStatus, errorThrown) {         
                console.log(jqXHR.responseText || textStatus);       
        } // END AJAX Customer GET error
            
    }); // End AJAX Customer GET call */
        
}); //End document.ready 
</script>
    
<!--UPS Section--> 
<script>
    var id_customer = Cookies.get('richwood-scentific');
    
    $.ajax({
        
            url: 'http://localhost:3000/api/cart/' + id_customer,
            data: "json",                    
            type: "GET",
            data: {},
            success: function (result) {
                console.log(result.data); // Works correctly, pulls in correct data.
                
        }, // End AJAX Cart GET success
            
            error : function (jqXHR, textStatus, errorThrown) {         
                    console.log(jqXHR.responseText || textStatus);       
        } // End AJAX Cart GET error
            
    }); // End AJAX Cart GET call
    
        $.ajax({
        
            url: 'http://localhost:3000/api/customer/' + id_customer,
            data: "json",                    
            type: "GET",
            data: {},
            success: function (result) {
                console.log(result.data.customer[0]); // Data Object returns successfully but incomplete. data.address returns undefined.
                
        },  // End AJAX Customer GET success
            
            error : function (jqXHR, textStatus, errorThrown) {         
                console.log(jqXHR.responseText || textStatus);       
        } // END AJAX Customer GET error
            
    }); // End AJAX Customer GET call 
    
    var columns = [];
                
                $.ajax({
        
            url: 'http://localhost:3000/api/customer/' + id_customer,
            data: "json",                    
            type: "GET",
            data: { },
         
            success: function (result) {
                //console.log(result.data.customer[0] && result.data.length + " result.data.customers"); // pulls data object but reads Object Object or undefined. 
                var columns = [];
                
                if(result.data.customer.length > 0) { // cannot read property length, data object undefined.
                    var customer = result.data.customer[0];
                    //console.log(result.data.customer[0] + "customer"); // result.data.customer[0] returns undefined, table still populates
                    
                    for(var key in result.data.customer[0]) {
                      
                      if(key == 'id' || key == 'date_created' || key == 'id_customer' || key == 'email' || key == 'phone') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        
                        columns.push( { "title" : key, "data" : key } );
                      } // End else
                        
                    };
                columns.push( {"defaultContent": "weight" + " oz package"} )
                columns.push( {"defaultContent": "<button class='btn btn-primary'>Calculate Shipping</button>"} )
                    
                var table = $('#ups_data_table').DataTable( {
                    "data" : result.data.customer,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                });  // End var table
                           
        $('#ups_data_table tbody').on('click', 'button', function (e) {
            
            e.preventDefault();
            
                                
                }); // End data_table.on( 'click')    
  
            }; // End if(result.data.customerss.length > 0)
                
        }, // End AJAX Customer GET success
        
            error : function (jqXHR, textStatus, errorThrown) {         
                console.log(jqXHR.responseText || textStatus);       
        } // End AJAX Customer GET error  
           
    }); // End AJAX Customer GET call
  /* $.ajax({
        
            url: 'http://localhost:3000/api/customer/' + id_customer,
            data: "json",                    
            type: "GET",
            data: { },
         
            success: function (result) {
                //console.log(result.data.customer[0] && result.data.length + " result.data.customers"); // pulls data object but reads Object Object or undefined. 
                
                
        }, // End AJAX Customer GET success
        
            error : function (jqXHR, textStatus, errorThrown) {         
                console.log(jqXHR.responseText || textStatus);       
        } // End AJAX Customer GET error  
           
    }); // End AJAX Customer GET call */
    
    
         //   var address = result.data.customers.address;

               /* var formData = { "UPSSecurity": { "UsernameToken": { "Username": "Your Username", "Password": "Your Password" }, "ServiceAccessToken": { "AccessLicenseNumber": "0D372C910C945018" } }, "ShipmentRequest": { "Request": { "RequestOption": "validate", "TransactionReference": { "CustomerContext": "Your Customer Context" } }, "Shipment": { "Description": "Description", "Shipper": { "Name": "Sean Rose", "AttentionName": "", "TaxIdentificationNumber": "123456", "Phone": { "Number": "1234567890", "Extension": "1" }, "ShipperNumber": "Your Shipper Number", "FaxNumber": "1234567890", "Address": { "AddressLine": "Address Line", "City": "City", "StateProvinceCode": "StateProvinceCode", "PostalCode": "PostalCode", "CountryCode": "CountryCode" } }, "ShipTo": { "Name": "Ship To Name", "AttentionName": "Ship To Attn Name", "Phone": { "Number": "1234567890" }, "Address": { "AddressLine": "Address Line", "City": "City", "StateProvinceCode": "StateProvinceCode", "PostalCode": "PostalCode", "CountryCode": "CountryCode" }}, "ShipFrom": { "Name": "Ship From Name", "AttentionName": "Ship From Attn Name", "Phone": { "Number": "1234567890" }, "FaxNumber": "1234567890", "Address": { "AddressLine": "Address Line", "City": "City", "StateProvinceCode": "StateProvinceCode", "PostalCode": "PostalCode", "CountryCode": "CountryCode" } }, "PaymentInformation": { "ShipmentCharge": { "Type": "01", "BillShipper": { "AccountNumber": "Your Account Number" } } }, "Service": { "Code": "01", "Description": "Express" }, "Package": { "Description": "Description", "Packaging": { "Code": "02", "Description": "Description" }, "Dimensions": { "UnitOfMeasurement": { "Code": "IN", "Description": "Inches" }, "Length": "7", "Width": "5", "Height": "2" }, "PackageWeight": { "UnitOfMeasurement": { "Code": "LBS", "Description": "Pounds" }, "Weight": "10" } } }, "LabelSpecification": { "LabelImageFormat": { "Code": "GIF","Description": "GIF" }, "HTTPUserAgent": "Mozilla/4.5" } } }; */
    
       /* $.ajax({
        
            url: '',
            data: "json",               
            type: "POST",
            /*headers: {
                'Access-Control-Allow-Headers' : 'Origin, X-Requested-With, Content-Type, Accept',
                'Access-Control-Allow-Origin' : '*',
                'Access-Control-Allow-Headers' : 'POST',
                'content-type'                 : 'application/JSON'}, 
            data: formData,
            success: function (result) {
                
                console.log(result.data);
                
        },
            error: function (jqXHR, textStatus, errorThrown) {
                
                console.log(jqXHR.responseText || textStatus);
        }
            
    }); // END AJAX POST
     
    EXPECTED SAMPLE RESPONSE FROM UPS
    { "ShipmentResponse": { "Response": { "ResponseStatus": { "Code": "1", "Description": "Success" }, "TransactionReference": { "CustomerContext": "Your Customer Context" } }, "ShipmentResults": { "ShipmentCharges": { "TransportationCharges": { "CurrencyCode": "USD", "MonetaryValue": "88.12" }, "ServiceOptionsCharges": { "CurrencyCode": "USD", "MonetaryValue": "0.00" }, "TotalCharges": { "CurrencyCode": "USD", "MonetaryValue": "88.12" } }, "BillingWeight": { "UnitOfMeasurement": { "Code": "LBS", "Description": "Pounds" }, "Weight": "10.0" }, "ShipmentIdentificationNumber": "1ZISUS010191662852", "PackageResults": { "TrackingNumber": "1ZISUS010191662852", "ServiceOptionsCharges": { "CurrencyCode": "USD", "MonetaryValue": "0.00" }, "ShippingLabel": { "ImageFormat": { "Code": "GIF", "Description": "GIF" },
    */
    
</script>
<!--UPS Section-->
    
<!--FedEx Section-->
<script>
    
    var id_customer = Cookies.get('richwood-scentific');
    
   $.ajax({
        
            url: 'http://localhost:3000/api/customer/' + id_customer,
            data: "json",                    
            type: "GET",
            data: { },
         
            success: function (result) {
                //console.log(result.data.customer[0] && result.data.length + " result.data.customers"); // pulls data object but reads Object Object or undefined. 
                var columns = [];
                
                if(result.data.customer.length > 0) { // cannot read property length, data object undefined.
                    var customer = result.data.customer[0];
                    //console.log(result.data.customer[0] + "customer"); // result.data.customer[0] returns undefined, table still populates
                    
                    for(var key in result.data.customer[0]) {
                      
                      if(key == 'id' || key == 'date_created' || key == 'id_customer' || key == 'email' || key == 'phone') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        
                        columns.push( { "title" : key, "data" : key } );
                      } // End else
                        
                    }; // End for loop
                
                var table = $('#fedex_data_table').DataTable( {
                    "data" : result.data.customer,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                });  // End var table
                           
        $('#fedex_data_table tbody').on('click', 'button', function (e) {
            
            e.preventDefault();
            
                                
                }); // End data_table.on( 'click')    
  
            }; // End if(result.data.customerss.length > 0)
                
        }, // End AJAX Customer GET success
        
            error : function (jqXHR, textStatus, errorThrown) {         
                console.log(jqXHR.responseText || textStatus);       
        } // End AJAX Customer GET error  
           
    }); // End AJAX Customer GET call
</script>
<!--FedEx Section-->
    
<!--USPS Section-->
<script>
    
    var id_customer = Cookies.get('richwood-scentific');
    
   $.ajax({
        
            url: 'http://localhost:3000/api/customer/' + id_customer,
            data: "json",                    
            type: "GET",
            data: { },
         
            success: function (result) {
                //console.log(result.data.customer[0] && result.data.length + " result.data.customers"); // pulls data object but reads Object Object or undefined. 
                var columns = [];
                
                if(result.data.customer.length > 0) { // cannot read property length, data object undefined.
                    var customer = result.data.customer[0];
                    //console.log(result.data.customer[0] + "customer"); // result.data.customer[0] returns undefined, table still populates
                    
                    for(var key in result.data.customer[0]) {
                      
                      if(key == 'id' || key == 'date_created' || key == 'id_customer' || key == 'email' || key == 'phone') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        
                        columns.push( { "title" : key, "data" : key } );
                      } // End else
                        
                    }; // End for loop
                
                var table = $('#usps_data_table').DataTable( {
                    "data" : result.data.customer,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                });  // End var table
                           
        $('#usps_data_table tbody').on('click', 'button', function (e) {
            
            e.preventDefault();
            
                                
                }); // End data_table.on( 'click')    
  
            }; // End if(result.data.customerss.length > 0)
                
        }, // End AJAX Customer GET success
        
            error : function (jqXHR, textStatus, errorThrown) {         
                console.log(jqXHR.responseText || textStatus);       
        } // End AJAX Customer GET error  
           
    }); // End AJAX Customer GET call
</script>
<!--USPS Section-->
    
<script>
//var from = homeAddress;
//var to = id_customerAddress;
</script>