<div class="container">
    <div class="row">
        <div class="col-md-3 sidebar">
            <nav class="sidebar-nav">
                <div class="sidebar-header">
    <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
    <span class="sr-only">Toggle nav</span></button>
    <a class="sidebar-brand img-responsive" href="/admin"><span class="icon icon-leaf sidebar-brand-icon"></span></a>
                </div>

                <div class="collapse nav-toggleable-md" id="nav-toggleable-md">

                       <!-- Search for products -->
                    <form class="sidebar-form">
                        <input class="form-control" type="text" placeholder="Search...">
                        <button type="submit" class="btn-link"><span class="icon icon-magnifying-glass"></span></button>
                    </form>

                        <!-- Side Nav Bar Top -->
                    <ul class="nav nav-pills nav-stacked flex-column">
                        <li class="nav-header">Main Data Tables</li>
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin Overview</a></li>

                        <li class="nav-item">
                            <div class="dropdown" id="customers">
                                <button class="dropbtn">Customers</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addcustomer">Add Customers</a>
                                    <a class="nav-link" href="/updatecustomer">Update Customers</a>
                                    <a class="nav-link" href="/viewcustomer">View Customers</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="products">
                                <button class="dropbtn">Products</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addproduct">Add Products</a>
                                    <a class="nav-link" href="/updateproduct">Update Products</a>
                                    <a class="nav-link" href="/viewproduct">View Products</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="product_types">
                                <button class="dropbtn">Product Types</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addproducttype">Add Product Types</a>
                                    <a class="nav-link" href="/updateproducttype">Update Product Types</a>
                                    <a class="nav-link" href="/viewproducttype">View Product Types</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="scent_types">
                            <button class="dropbtn">Scent Types</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addscenttype">Add Scent Types</a>
                                    <a class="nav-link" href="/updatescenttype">Update Scent Types</a>
                                    <a class="nav-link" href="/viewscenttype">View Scent Types</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="suppliers">
                            <button class="dropbtn">Suppliers</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addsupplier">Add Suppliers</a>
                                    <a class="nav-link" href="/updatesupplier">Update Suppliers</a>
                                    <a class="nav-link" href="/viewsuppliers">View Suppliers</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

          <!-- Top page Bar -->
        <div class="col-md-9 content">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h6 class="dashhead-subtitle">Richwood Scent-ific</h6>
                    <h2 class="dashhead-title">View Suppliers</h2>
                </div>
            </div>

            <!-- Body Box -->
            <div class="col-md-6 content">
                <table id="data_table" class="table table-striped table-bordered" cellspacing="0">
                    <!-- Inject HTML here -->
                </table>
            </div>
            <!-- Body Box -->

        </div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/sweetalert.min.js"></script> 
<script src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/fh-3.1.2/datatables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $.ajax({
            url: "http://localhost:3000/api/suppliers",
            dataType: "json",
            type: "GET",
            data: {},
            success: function(result) {

                var columns = [];
                if(result.data.suppliers.length > 0) {

                    var firstRecord = result.data.suppliers[0];
                    for(var key in firstRecord) {
                      // We don't want id visible
                      if(key == 'id') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        columns.push( { "title" : key, "data" : key } );
                      }
                        
                    } // END forloop
                    
                } // END if loop

                // Draw the table
                $('#data_table').DataTable( {
                    "data" : result.data.suppliers,
                    "columns" : columns
                });  

            } // END success
            
        }); // END ajax

    }); // END document.ready
</script>
