<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col-md-3 sidebar">
            <nav class="sidebar-nav">
                <div class="sidebar-header">
    <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
    <span class="sr-only">Toggle nav</span></button>
    <a class="sidebar-brand img-responsive" href="/admin"><span class="icon icon-leaf sidebar-brand-icon"></span></a>
                </div>

                <div class="collapse nav-toggleable-md" id="nav-toggleable-md">

                       <!-- Search for products -->
                    <form class="sidebar-form">
                        <input class="form-control" type="text" placeholder="Search...">
                        <button type="submit" class="btn-link"><span class="icon icon-magnifying-glass"></span></button>
                    </form>

                        <!-- Side Nav Bar Top -->
                    <ul class="nav nav-pills nav-stacked flex-column">
                        <li class="nav-header">Main Data Tables</li>
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin Overview</a></li>

                        <li class="nav-item">
                            <div class="dropdown" id="customers">
                                <button class="dropbtn">Customers</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addcustomer">Add Customers</a>
                                    <a class="nav-link" href="/updatecustomer">Update Customers</a>
                                    <a class="nav-link" href="/viewcustomer">View Customers</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="products">
                                <button class="dropbtn">Products</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addproduct">Add Products</a>
                                    <a class="nav-link" href="/updateproduct">Update Products</a>
                                    <a class="nav-link" href="/viewproduct">View Products</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="product_types">
                                <button class="dropbtn">Product Types</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addproducttype">Add Product Types</a>
                                    <a class="nav-link" href="/updateproducttype">Update Product Types</a>
                                    <a class="nav-link" href="/viewproducttype">View Product Types</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="scent_types">
                            <button class="dropbtn">Scent Types</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addscenttype">Add Scent Types</a>
                                    <a class="nav-link" href="/updatescenttype">Update Scent Types</a>
                                    <a class="nav-link" href="/viewscenttype">View Scent Types</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown" id="suppliers">
                            <button class="dropbtn">Suppliers</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" href="/addsupplier">Add Suppliers</a>
                                    <a class="nav-link" href="/updatesupplier">Update Suppliers</a>
                                    <a class="nav-link" href="/viewsuppliers">View Suppliers</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

        <div class="col-md-3 sidebar">
            <nav class="sidebar-nav">
                <div class="col-md-9 content">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h2 class="dashhead-subtitle">Richwood Scent-ific</h2>
                            <h6 class="dashhead-title">View Table Data</h6>
                            <!--Buttons go here-->
                            <button type="radio" name="customers" value="save" class="btn btn-customers">Customers</button>
                            <button type="radio" name="products" value="save" class="btn btn-products">Products</button>
                            <button type="radio" name="suppliers" value="save" class="btn btn-suppliers">Suppliers</button>
                            <button type="radio" name="producttypes" value="save" class="btn btn-ptypes">Product Types</button>
                            <button type="radio" name="submitButton" value="save" class="btn btn-stypes">Scent Types</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Top page Bar -->
        

            <!-- Body Box -->
            <div class="col-md-9 content">
                <table id="data_table" class="table table-striped table-bordered" cellspacing="0">
                    <!-- Inject HTML here -->
                </table>
            </div>
            <!-- Body Box -->

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/sweetalert.min.js"></script> 
<script src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/fh-3.1.2/datatables.min.js"></script>

<script type="text/javascript">
    
    $(document).ready(function() {
        
        $('.btn-products').on('click', 'button', function() {
            $.ajax({
                url: "http://localhost:3000/api/products",
                dataType: "json",
                type: "GET",
                data: {},
                success: function (result) {

                    // vars for DataTable
                    var columns = [];
                    if(result.data.products.length > 0) {

                        var firstRecord = result.data.products[0];
                        for(var key in firstRecord) {
                          // We don't want id visible
                          if(key == 'id') {
                            columns.push( { "title" : key, "data" : key, "visible": false } );
                          } else { 
                            // Push in the data
                            columns.push( { "title" : key, "data" : key } );
                          }
                        } // END for loop
                        
                    } // END if loop
                    
                    columns.push( {"defaultContent": "<button class=\"btn btn-default\"><i class=\"fa fa-pencil\"></i></button><button class=\"btn btn-delete\"><i class=\"fa fa-trash\"></i></button>"} )

                    // Draw the table
                    var table = $('#data_table').DataTable( {
                        "data" : result.data.products,
                        "columns" : columns,
                        columnDefs: [
                          { width: '500px', targets: 0 }
                        ],
                        fixedColumns: true
                    } );  

                    $('#data_table tbody').on( 'click', 'button', function () {
                        var data = table.row( $(this).parents('tr') ).data();
                        var buttonClass = $(this).attr("class");
                        if(buttonClass == "btn btn-default") {
                          // How would you hook this up?
                          alert( "Update " + data.id );
                        } else {
                          // And this? What about the "are you sure?"
                          alert( "Delete " + data.id );
                        }

                    }); // END data_table event

                } // END AJAX success
                
        }); // END AJAX GET

    }); // END products click event

    $('.btn-customer').on('click', function() {

        $.ajax({
            url: "http://localhost:3000/api/customers",
            dataType: "json",
            type: "GET",
            data: {},
            success: function (result) {
                var columns = [];
                if(result.data.customers.length > 0) {

                    var firstRecord = result.data.customers[0];
                  
                    for(var key in firstRecord) {
                      // We don't want id visible
                      if(key == 'id') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        // Push in the data
                        columns.push( { "title" : key, "data" : key } );
                      }
                        
                    } // END for loop
                    
                } // END if loop
   
                columns.push( {"defaultContent": "<button class=\"btn btn-default\"><i class=\"fa fa-pencil\"></i></button><button class=\"btn btn-delete\"><i class=\"fa fa-trash\"></i></button>"} )

                // Draw the table
                var table = $('#data_table').DataTable( {
                    "data" : result.data.customers,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                } );  
 
                $('#data_table tbody').on( 'click', 'button', function () {
                    var data = table.row( $(this).parents('tr') ).data();
                    var buttonClass = $(this).attr("class");
                    if(buttonClass == "btn btn-default") {
                      // How would you hook this up?
                      alert( "Update " + data.id );
                    } else {
                      // And this? What about the "are you sure?"
                      alert( "Delete " + data.id );
                    }
                    
                }); // End data_table click event

            } // End AJAX success
            
        }); // End ajax GET call

    }); // END customer click event

    $('.btn-suppliers').on('click', 'button', function() {

        $.ajax({
            url: "http://localhost:3000/api/suppliers",
            dataType: "json",
            type: "GET",
            data: {},
            success: function (result) {

                // vars for DataTable
                var columns = [];
                if(result.data.suppliers.length > 0) {

                    var firstRecord = result.data.suppliers[0];
                    for(var key in firstRecord) {
                      // We don't want id visible
                      if(key == 'id') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        // Push in the data
                        columns.push( { "title" : key, "data" : key } );
                      }
                        
                    } // END for loop
                    
                } // END if loop
        
                columns.push( {"defaultContent": "<button class=\"btn btn-default\"><i class=\"fa fa-pencil\"></i></button><button class=\"btn btn-delete\"><i class=\"fa fa-trash\"></i></button>"} )

                // Draw the table
                var table = $('#data_table').DataTable( {
                    "data" : result.data.suppliers,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                } );  
 
                $('#data_table tbody').on( 'click', 'button', function () {
                    var data = table.row( $(this).parents('tr') ).data();
                    var buttonClass = $(this).attr("class");
                    if(buttonClass == "btn btn-default") {
                      // How would you hook this up?
                      alert( "Update " + data.id );
                    } else {
                      // And this? What about the "are you sure?"
                      alert( "Delete " + data.id );
                    }
                    
                }); // End data_table click event

            } // End AJAX success
            
        }); // End ajax GET call

    }); // END supplier click event
    
    $('.btn-product_types').on('click', 'button', function() {

        // Inside the ready function, lets call to fill the product types select menu
        $.ajax({
            url: "http://localhost:3000/api/product_types",
            dataType: "json",
            type: "GET",
            data: {},
            success: function (result) {

                // vars for DataTable
                var columns = [];

                if(result.data.product_types.length > 0) {

                    var firstRecord = result.data.product_types[0];
                  
                    for(var key in firstRecord) {
                      // We don't want id visible
                      if(key == 'id') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        // Push in the data
                        columns.push( { "title" : key, "data" : key } );
                      }
                        
                    } // END for loop
                    
                } // END if loop
                
                columns.push( {"defaultContent": "<button class=\"btn btn-default\"><i class=\"fa fa-pencil\"></i></button><button class=\"btn btn-delete\"><i class=\"fa fa-trash\"></i></button>"} )

                // Draw the table
                var table = $('#data_table').DataTable( {
                    "data" : result.data.product_types,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                } );  
 
                $('#data_table tbody').on( 'click', 'button', function () {
                    var data = table.row( $(this).parents('tr') ).data();
                    var buttonClass = $(this).attr("class");
                    if(buttonClass == "btn btn-default") {
                      // How would you hook this up?
                      alert( "Update " + data.id );
                    } else {
                      // And this? What about the "are you sure?"
                      alert( "Delete " + data.id );
                    }
                    
                }); // End data_table click event

            } // End AJAX success
            
        }); // End ajax GET call

    }); // END product_type click event 
    
    $('.btn-scent_types').on('click', 'button', function() {

        // Inside the ready function, lets call to fill the product types select menu
        $.ajax({
            url: "http://localhost:3000/api/scent_types",
            dataType: "json",
            type: "GET",
            data: {},
            success: function (result) {

                // vars for DataTable
                var columns = [];
                if(result.data.scent_types.length > 0) {

                    var firstRecord = result.data.scent_types[0];
                    for(var key in firstRecord) {
                      // We don't want id visible
                      if(key == 'id') {
                        columns.push( { "title" : key, "data" : key, "visible": false } );
                      } else { 
                        // Push in the data
                        columns.push( { "title" : key, "data" : key } );
                      }
                        
                    } // END for loop
                    
                } // END if loop
                
                columns.push( {"defaultContent": "<button class=\"btn btn-default\"><i class=\"fa fa-pencil\"></i></button><button class=\"btn btn-delete\"><i class=\"fa fa-trash\"></i></button>"} )

                // Draw the table
                var table = $('#data_table').DataTable( {
                    "data" : result.data.scent_types,
                    "columns" : columns,
                    columnDefs: [
                      { width: '500px', targets: 0 }
                    ],
                    fixedColumns: true
                } );  
 
                $('#data_table tbody').on( 'click', 'button', function () {
                    var data = table.row( $(this).parents('tr') ).data();
                    var buttonClass = $(this).attr("class");
                    if(buttonClass == "btn btn-default") {
                      // How would you hook this up?
                      alert( "Update " + data.id );
                    } else {
                      // And this? What about the "are you sure?"
                      alert( "Delete " + data.id );
                    }
                    
                }); // End data_table click event

            } // End AJAX success
            
        }); // End ajax GET call

    }); // END scent_type click event
        
}); // END document.ready event
</script>